<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp camp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


    <nav>
       <%  if(!currentUser){ %> 
            <a href="/login"> login</a>
            <a href="/register">sign up</a>

       <% } else { %>   

        <h3>Signed in as <%= currentUser.username %> </h3>
            <a href="/logout">sign out</a>
            
       <% } %>
       
    </nav>
 