<%- include('../partials/header.ejs') %>

<h1 class="new">
  <p>Okay this works , finally</p>
  <a href="/campgrounds">wanna view all campgrounds</a>
</h1>
<a href="/campgrounds/new">create</a>

<%- include('../partials/footer.ejs') %>
